.me {
    width: 180px;
    float: center;
    margin: 0 auto;
    padding: 0.5px;
}

body {
    min-height: 10em;
    width: 100%;
}

.header {
    display: block;
}

header {
    display: block;
    margin: 0 auto;
}

.container {
    padding-top: 2em;
    max-width: 40em;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
}

