.me {
    width: 180px;
    float: center;
    margin: 0 auto;
    padding: 0.5px;
    overflow: auto;
}

body {
    margin: 0 auto;
    width: 100%;
    min-height: 10em;
}

.header {
    display: block;
}

header {
    display: block;
    margin: 0 auto;
}

