/* General */

html {
    overflow-y: scroll;
}


a {
    text-decoration: none;
    opacity: 90%;
    letter-spacing: 0.02ch;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.link {
    color: #fff;
    font-size: 14px;
    padding-left: 2em;
    text-transform: uppercase;
}




th {
    font-size: 17px;
    text-align: left;
    letter-spacing: 0.02ch;
    font-weight: 300;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff; 
}

.nav ul li {
    padding: 0;
    font-weight: 100;
    list-style-type: none;
    max-width: 50em;
}

.js .nav-toggle {
    width: 2em;
    font-size: 1.5rem;
    line-height: 2em;
    cursor: pointer;
}


#nav-toggle {
    display: none;
    padding-top: 10px;
}

ul {
    list-style-position: none;
    max-width: 50em;
}

li {
    list-style-type: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 100;
    line-height: 2em;
    text-transform: uppercase;
    word-spacing: 2em;
}

.site-footer {
    max-width: 40em;
    display: block;
    margin: 0 auto; 
}

input:focus, button:focus, button:hover {
    background: #f5f5f5;
    cursor: pointer;
}

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
}

.flash-img {
    width: 100%;
    height: 120px;
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}

.me {
    width: 25%;
    border-radius: 0.2em;
    margin: 0 auto;
    padding-top: 20px;
}
