/* General */

html {
    background-color: #fefae0;
    overflow-y: scroll;
}

.me {
    width: 180px;
    float: center;
    margin: 0 auto;
    padding: 0.5px;
    overflow: auto;
}

body {
    margin: 0 auto;
    width: 100%;
    background-color: #fefae0;
    min-height: 10em;
}

a {
    text-decoration: none;
    opacity: 90%;
    letter-spacing: 0.02ch;
    font-size: 16px;
    color: #fff; 
    font-weight: 400;
    text-transform: uppercase;
}

.link {
    color: #000;
}


h2 {
    line-height: 33px;
    letter-spacing: 0.02ch;
    font-weight: 500;
    text-align: left;
    font-size: 22px;
}

h3 {
    line-height: 33px;
    letter-spacing: 0.02ch;
    font-weight: 500;
    text-align: left;
    font-size: 20px;
}

h4 {
    line-height: 33px;
    letter-spacing: 0.02ch;
    font-weight: 500;
    text-align: left;
    font-size: 17px;
}

h5 {
    line-height: 33px;
    letter-spacing: 0.02ch;
    font-weight: 500;
    text-align: left;
    font-size: 17px;
}

p {
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.02ch;
    font-weight: 300;
    line-height: 2em;
    display: block;
}

th {
    font-size: 17px;
    text-align: left;
    letter-spacing: 0.02ch;
    font-weight: 300;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff; 
}

.nav ul li {
    padding: 0;
    font-weight: 100;
    list-style-type: none;
}

.js .nav-toggle {
    width: 2em;
    font-size: 1.5rem;
    line-height: 2em;
    cursor: pointer;
}


#nav-toggle {
    display: none;
    padding-top: 10px;
}

ul {
    list-style-position: none;
}

li {
    list-style-type: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 100;
    line-height: 2em;
    text-transform: uppercase;
    word-spacing: 2em;
}

.header {
    display: block;
}


header {
    display: block;
    margin: 0 auto;
}

.main {
    margin: 0 auto;
    display: block;
}

main {
    margin-top: 30px;
    
}

.site-footer {
    max-width: 40em;
    display: block;
    margin: 0 auto; 
}

input:focus, button:focus, button:hover {
    background: #f5f5f5;
    cursor: pointer;
}

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
}

.flash-img {
    width: 100%;
    height: 150px;
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}

.me {
    width: 25%;
    border-radius: 0.2em;
    margin: 0 auto;
    padding-top: 20px;
}

.kmoms {
    color: #000;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    padding: 1.5em;
    font-size: 18px;
    border-bottom: 1px solid#bc6c25;
}
