.landingpage {
    display: grid;
    gap: 0.8em 0.8em;
    max-width: 40em;
    margin: 0 auto;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: left;
    text-transform: uppercase;
    margin-top: 5em;
    margin-bottom: 1.5em;
    color: $font-color;
    font-size: 19px;
    padding-bottom: 1em;
    border-bottom: 0.1px solid #e7b388;
    width: 100%;
}

.kmom-box {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8e9dd;
    padding: 2em;
    border: 1px solid #dc9256;
}

.kmom-box a {
    line-height: 2em;
    color: $font-color;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.02ch;
}

a:hover {
    color: #000fff;
}


a:hover p {
    color: #000fff;
}

.kmom-box p {
    border-bottom: 1px solid #dc9256;
    line-height: 2em;
    color: $font-color;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.02ch;
}

.kmom-box.project {
    grid-column: span 3;
}

.reportpage {
    margin-top: 10px;
}

.reportpage a {
    color: $font-color;
    font-size: 17px;
    border-bottom: 0.5px solid #d98745;
    line-height: 2em;
}

.reportpage a:hover {
    color: #000fff;
}

.kmom-boxen {
    display: grid;
    flex-direction: column;
    grid-column: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
    gap: 2.5em 2.5em;
    float: left;
    color: $font-color;
    justify-items: center;
    margin-top: 2em;
}


.kmoms {
    display: grid;
    flex-direction: column;
    grid-column: span 1;
    padding-left: 4em;
    color: $font-color;
}

.kmoms h4 p {
    text-transform: initial;
}

@media (max-width: 767px) {
    .reportpage h1,
    .kmom-boxen,
    .kmom-boxen.kmoms {
        grid-column: span 1;
        display: inline-block;
    }

    .kmom-boxen {
        display: none;
    }
}

@media (max-width: 767px) {
    .landingpage h1,
    .kmom-box,
    .kmom-box.project {
        grid-column: span 4;
    }
}

.img.box {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e19f66;
    padding: 2.7em;
    margin-top: 1em;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

