.landingpage {
    display: grid;
    gap: 1em 1em;
    max-width: 50em;
    margin: 0 auto;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
    text-transform: uppercase;
    margin-top: 4em;
}

.kmom-box {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #bc6c25;
    padding: 2.7em; 
}

.kmom-box a {
    border-bottom: 0.5px solid #bc6c25;
    line-height: 1.5em;
    color: #000;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    padding-top: 0.7em;
}

a:hover {
    color: #000fff;
}

.kmom-box p {
    line-height: 2em;
    color: #000;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    padding-top: 0.7em;
}

.kmom-box.project {
    grid-column: span 3;
}

.reportpage {
    margin-top: 10px;
}

.reportpage a {
    color: #000;
    font-size: 17px;
    border-bottom: 0.5px solid #bc6c25;
    line-height: 2em;
}

.reportpage a:hover {
    color: #000fff;
}

.kmom-boxen {
    display: grid;
    flex-direction: column;
    grid-column: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
    gap: 2.5em 2.5em;
    float: left;
    color: #000;
    justify-items: center;
    margin-top: 2em;
}

.kmoms {
    display: grid;
    flex-direction: column;
    grid-column: span 1;
    padding-left: 4em;
    padding-right: 4em;
}

.kmoms h4 p {
    text-transform: initial;
}

@media (max-width: 920px) {
}


@media (max-width: 767px) {
    .reportpage h1,
    .kmom-boxen,
    .kmom-boxen.kmoms {
        grid-column: span 1;
        display: inline-block;
    }

    .kmom-boxen {
        display: none;
    }
}
 
@media (max-width: 920px) {
}

@media (max-width: 767px) {
    .landingpage h1,
    .kmom-box,
    .kmom-box.project {
        grid-column: span 4;
    }
}
