@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;600&display=swap');

@import 'oldstyle';
@import 'variables';
@import 'typography';
@import 'layout';
@import 'report';
@import 'gallery';


* {
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: $background-color;
}

h1 {
    line-height: 33px;
    letter-spacing: 0.02ch;
    font-weight: 400;
    text-align: left;
    font-size: 24px;
}

.footer {
    .social {
        padding-top: 1em;
        padding-bottom: 4em;
        letter-spacing: 4em;
    }   
    
    a:hover {
        color: #000;
    }
    
    a {
        font-size: 17px;
        float: left;
        word-spacing: 2px;
        color: #fff;
    }
}

.nav {
    padding: 2em;
    display: block;
    background-color: #99581e;
    word-spacing: 1.9em;
    text-align: center;
}

p {
    font-weight: 300;
    font-size: 17px;
    line-height: 2.2em;
    color: $font-color;
}

h1 {
    font-size: 20px;
}

h2 {
    border-bottom: 0.1px solid #e7b388;
    padding-bottom: 1em;
}

h4 {
    font-size: 17px;
    color: #000;
}

.footer {
    display: block;
    margin: 0 auto;
    bottom: 0;
    margin-top: 7em;
    background-color: #99581e;
}

@media (max-width: 960px) {
    .nav {
        clear: both;
        padding: 1em;
    }

    .nav ul {
        padding: 2em;
        display: inline-block;
    }

    .nav ul li {
        display: inline-block;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .nav ul li a {
        display: inline-block;
        padding: 0.5em 0;
    }

    .footer .social.icon {
        text-align: center;
        bottom: 0;
    }

    .footer a {
        text-align: center;
        bottom: 0;
    }
}

a {
    text-decoration: none;
    opacity: 90%;
    letter-spacing: 0.02ch;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.fyndiq {
    width: 120%;
}

.imgsocialmedia {
    width: 100%;
    border: 2px solid rgb(128, 128, 128);
    margin: 0 auto;
}

.alink {
    color: #000;
}

.me {
    width: 30%;
    border-radius: 0.2em;
    margin-left: 13em;
    padding: 60px;
}

li a {
    color: #fff;
    font-size: 15.5px;
    font-weight: 700;
    letter-spacing: 0.05ch;
}

h6 {
    color: #000;
}

dd {
    color: #000;
}

h5 {
    color: #000;
}

dd {
    color: #000;
}

abbr {
    color: #000;
}

legend {
    color: #000;
}

label {
    color: #000;
}

dt {
    color: #000;
}

li a:hover {
    color: #000;
    border-bottom: 0.2px solid #000;
    padding-bottom: 0.5em;
}
