@import 'variables-dark';
@import 'oldstyle';
@import 'typography';
@import 'layout';
@import 'report-style-dark';
@import 'gallery';



* {
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: $background-color;
}

h1 {
    line-height: 33px;
    letter-spacing: 0.02ch;
    font-weight: 400;
    text-align: left;
    font-size: 24px;
}

a {
    text-decoration: none;
    opacity: 90%;
    letter-spacing: 0.02ch;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}

.footer {
    .social {
        padding-top: 1em;
        padding-bottom: 4em;
        letter-spacing: 4em;
    }   
    
    a:hover {
        color: #a96223;
    }
    
    a {
        font-size: 17px;
        float: left;
        word-spacing: 2px;
        color: #fff;
    }
}

.nav {
    font-weight: 100;
    padding: 2em;
    word-spacing: 1.9em;
    display: block;
    font-size: 19x;
    text-align: center;
}

p {
    font-weight: 300;
    font-size: 17px;
    line-height: 2.2em;
    color: $font-color;
}

h1 {
    font-size: 20px;
    color: #fff;
}

h2 {
    padding-bottom: 1em;
    color: #fff;
    font-weight: 400;
    border-bottom: 0.2px solid #99581e;
}

h3 {
    color: #fff;
}

h4 {
    font-size: 17px;
    color: #fff;
}

.footer {
    display: block;
    margin: 0 auto;
    bottom: 0;
}

.border {
    margin-top: 3em;
    border-bottom: 0.05px solid #a96223;
    margin-bottom: 3em;
}

.bordernav {
    border-bottom: 0.05px solid #a96223;
}

td {
    color: #fff;
}

th {
    color: #fff;
}

@media (max-width: 960px) {
    .nav {
        clear: both;
        padding: 1em;
    }

    .nav ul {
        padding: 2em;
        display: inline-block;
    }

    .nav ul li {
        display: inline-block;
        margin-left: 0;
        text-align: center;
    }

    .nav ul li a {
        display: inline-block;
        padding: 0.5em 0;
    }

    .footer .social.icon {
        text-align: center;
        bottom: 0;
    }

    .footer a {
        text-align: center;
        bottom: 0;
        color: #fff;
    }
}

.fyndiq {
    width: 120%;
}

.imgsocialmedia {
    width: 100%;
    border: 2px solid rgb(128, 128, 128);
}

.alink {
    color: #fff;
}

.me {
    width: 30%;
    border-radius: 0.2em;
    margin-left: 13em;
    padding: 60px;
}

code {
    color: #fff;
}

li {
    color: #fff;
}

li a {
    color: #fff;
    font-size: 15.5px;
    font-weight: 400;
    letter-spacing: 0.05ch;
}

li a:hover {
    border-bottom: 0.2px solid #a96223;
    padding-bottom: 0.5em;
}

h6 {
    color: #fff;
}

dd {
    color: #fff;
}

h5 {
    color: #fff;
}

dd {
    color: #fff;
}

abbr {
    color: #fff;
}

legend {
    color: #fff;
}

label {
    color: #fff;
}

dt {
    color: #fff;
}

li a:hover {
    color: #a96223;
}
