@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;600&display=swap');

@import 'oldstyle';
@import 'report';
@import 'typography';
@import 'layout';


* {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    line-height: 33px;
    letter-spacing: 0.02ch;
    font-weight: 400;
    text-align: left;
    font-size: 24px;
}

.footer {
    background-color: #bc6c25;
    
    .social {
        word-spacing: 10em;
        padding-bottom: 2em;
    }   
    
    a:hover {
        color: #33a1de;
    }
    
    a {
        font-size: 17px;
        float: left;
        word-spacing: 2px;
    }
}

.nav {
    font-weight: 100;
    padding: 2em;
    padding-left: 20em;
    word-spacing: 1em;
    display: block;
    font-size: 20x;
    background-color: #bc6c25;
}

p {
    font-weight: 300;
    font-size: 17px;
    line-height: 2.2em;
}

h1 {
    font-size: 20px;
}

h4 {
    font-size: 17px;
    color: #000;
}

.container {
    padding-top: 2em;
    max-width: 50em;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
}

.footer {
    display: block;
    margin: 0 auto;
    bottom: 0;
    padding: 2em;
    padding-left: 25em;
    margin-top: 3em;
    background-color: #bc6c25;
}

@media (max-width: 960px) {
    .nav {
        clear: both;
        padding: 1em;
    }

    .nav ul {
        padding: 2em;
        display: inline-block;
    }

    .nav ul li {
        display: inline-block;
        margin-left: 0;
        text-align: center;
    }

    .nav ul li a {
        display: inline-block;
        padding: 0.5em 0;
    }

    .footer .social.icon {
        margin: 0 auto;
        padding: 1em;
        display: inline-block;
        text-align: center;
    }
}
