h2 {
    line-height: 33px;
    letter-spacing: 0.02ch;
    font-weight: 500;
    text-align: left;
    font-size: 22px;
}

h3 {
    line-height: 33px;
    letter-spacing: 0.02ch;
    font-weight: 500;
    text-align: left;
    font-size: 20px;
}

h4 {
    line-height: 33px;
    letter-spacing: 0.02ch;
    font-weight: 500;
    text-align: left;
    font-size: 17px;
}

h5 {
    line-height: 33px;
    letter-spacing: 0.02ch;
    font-weight: 500;
    text-align: left;
    font-size: 17px;
}

p {
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.02ch;
    font-weight: 300;
    line-height: 2em;
    display: block;
    color: #000;
    text-transform: none;
}