@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;600&display=swap');



h2 {
    line-height: 33px;
    font-weight: 500;
    text-align: left;
    font-size: 19px;
    text-transform: uppercase;
}

h3 {
    line-height: 33px;
    letter-spacing: 0.02ch;
    font-weight: 500;
    text-align: left;
    font-size: 20px;
}

h4 {
    line-height: 33px;
    letter-spacing: 0.02ch;
    font-weight: 500;
    text-align: left;
    font-size: 17px;
}

h5 {
    line-height: 33px;
    letter-spacing: 0.02ch;
    font-weight: 500;
    text-align: left;
    font-size: 17px;
}

p {
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.02ch;
    font-weight: 300;
    line-height: 2em;
    display: block;
    text-transform: none;
}
